/* Base styles */
img {
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   height: auto;
   width: 30%;
}

html {
    font-family: 'Della Respira', serif;
}

h1 {
    font-weight: bold;
}

* {
    background-color: mistyrose;
    text-align: center;
}

#logo {
    width: 10%;
    border-radius: 20%;
}

#founder, #extra-muscle {
    width: 15%;
}

body {
    width: 70%;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
}
.main-items {
    font-weight: bold;
    margin-top: 5%;
}

.sub-items {
    text-align: left;
}

section {
    display: block;
}

.contact-link {
    margin: 2%;
}

.nav {
    border: 3px solid cornflowerblue;
    background-color: cornflowerblue;
    border-radius: 15%;
    font-weight: bold;
}

/* Media Queries */