/* Base styles - styled for Mobile First */
img {
   display: inline-block;
   height: auto;
   width: 100%;
}
#top-matter {
    display: flex;
    flex-direction: row;
}
#logo {
    float: left;
    border-radius: 50%;
    width: 40%;
}
#nav {
    display: flex;
    flex-direction: column;
    width: 50%;
}

html {
    font-family: 'Della Respira', serif;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

* {
    background-color: mistyrose;
    text-align: center;
}

body {
    width: 90%;
    margin: 0 auto;
}

.main-items {
    font-weight: bold;
    margin-top: 5%;
}

.service-description {
    text-align: left;
}

section {
    display: block;
}

.contact-link {
    margin: 2%;
}
.nav {
    margin: 5%;
    font-weight: bold;
    font-size: 1.1em;
}

/* Media Queries */
