/* Media Queries */
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: auto;
   width: 50%;
}

html {
    font-family: 'Della Respira', serif;
}

h1 {
    font-weight: bold;
}

* {
    background-color: mistyrose;
}

#logo {
    width: 10%;
}
/* Media Queries */